.aheto-banner-slider__title {
    font-family: playfair display, Sans-serif;
    font-size: 60px;
    line-height: 1.4em;
    letter-spacing: 5px;
    text-shadow: black 0.1em 0.0em 0.1em;
    color: #FAC60B;
    padding-top: 10%;
}

.containerproje .slide-container .slide {
    min-height: 500px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 10%;
}

.containerproje .slide-container .slide .contentproje {
    flex: 1 1 350px;
    text-align: center;
}

.containerproje .slide-container .slide .contentproje p {
    font-size: 16px;
    color: #ffffff;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;

}

.containerproje .slide-container .slide .contentproje .bntproj:hover {
    background: #f1a979;
    border: 2px solid #ffb483;
    color: #fff7f7;
}

